<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg7EroyfVOI5VzkLqRppZ8brQkTbXuLAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>282971049531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mirsait.sabirzyanov.poly.ptennis</string>
	<key>PROJECT_ID</key>
	<string>ptennis-24b27</string>
	<key>STORAGE_BUCKET</key>
	<string>ptennis-24b27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282971049531:ios:c92c452afbd9b39c1fd61e</string>
</dict>
</plist>